$fill: #222;

body {
  background: $fill url(assets/paw-tile.png) center;
  box-shadow: inset 0 0 200px rgba(#000, 0.4);

  margin: 0;
  position: absolute; left: 0; right: 0; top: 0; bottom: 0;
}

.frame {
  background: $fill;
  border: 1px solid rgba(#fff, 0.1);
  box-shadow: (
    0 0 0 1px rgba(#000, 0.2),
    0 0 2px 2px rgba(#000, 0.2)
  );

  width: 416px; height: 600px;

  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);

  aside {
    position: absolute;
    top: 500px; right: -100px;
  }
}

button {
  background: transparent;
  border: 1px solid rgba(#000, 0.4);
  border-radius: 5px;
  box-shadow: (
    inset 0 0 0 1px rgba(#fff, 0.1),
    0 0 0 1px rgba(#fff, 0.1)
  );
  color: rgba(#fff, 0.5);
  font: { family: Enriqueta, serif; size: 12px; }
  outline: none;
  padding: 0.4em 1em 0.5em;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $fill;
    color: rgba(#fff, 0.8);
  }
  &:active {
    background: lighten($fill, 10%);
  }
}

.hide { display: none; }
