$fill: #222;
$stroke: #fff;
$frame-duration: .2s;

%flipper-wrap {
  perspective: 1000px;

  &.flipped %flipper {
    transform: rotateY(-180deg);
  }
}

%flipper {
  $easing: cubic-bezier(.8, 0, .2, 1);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s $easing $frame-duration;
}

%flipper-face {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%motif {
  $size: 32px;
  background: url('assets/paw-tile.png') center no-repeat;
  content: '';
  display: block;
  height: $size;
  margin: 1rem auto;
  width: $size;
}

%prose {
  font: { family: Enriqueta, serif; size: 14px; }
  line-height: 1.8;

  header {
    text-align: center;
    &::after { @extend %motif; }
  }

  h1 {
    font: { size: 32px; weight: 500; }
    line-height: 1;
    white-space: nowrap;
  }

  &,
  a { color: rgba($stroke, .7); }

  a {
    transition: color .2s ease-in-out;
    &:hover { color: $stroke; }
  }

  footer {
    text-align: center;
    &::before { @extend %motif; }
  }
}

body {
  $shadow-color: rgba(#000, .4);
  background: $fill url('assets/paw-tile.png') center;
  bottom: 0;
  box-shadow: inset 0 0 200px $shadow-color;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.frame {
  @extend %flipper-wrap;

  background: $fill;
  height: 600px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: {
    duration: $frame-duration;
    property: border, box-shadow;
    timing-function: ease-in;
  }
  width: 416px;

  &:not(.flipping) {
    $tint-color: rgba(#fff, .1);
    $shadow-color: rgba(#000, .2);
    border: 1px solid $tint-color;
    box-shadow: (
      0 0 0 1px $shadow-color,
      0 0 2px 2px $shadow-color
    );
  }

  aside {
    color: rgba($stroke, .3);
    font: { family: Enriqueta, serif; size: 12px; }
    position: absolute;
    right: -100px;
    top: 520px;
    width: 60px;

    button {
      margin-bottom: 2em;
    }
  }

  button.fiddle:disabled {
    visibility: hidden;
  }

  .framed {
    @extend %flipper;
    height: inherit;
    width: inherit;
  }

  .game {
    @extend %flipper-face;
    transform: rotateY(0deg);
    z-index: 1;
  }

  .about {
    @extend %flipper-face;
    @extend %prose;
    background: $fill;
    box-sizing: border-box;
    padding: 3rem;
    text-align: justify;
    transform: rotateY(180deg);
  }
}

button {
  $shadow-color: rgba(#000, .4);
  $tint-color: rgba(#fff, .1);
  background: transparent;
  border: 1px solid $shadow-color;
  border-radius: 5px;
  box-shadow: (
    inset 0 0 0 1px $tint-color,
    0 0 0 1px $tint-color
  );
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: .4em 1em .5em;

  body.ready & {
    transition: all .2s ease-in-out;
  }

  &:hover {
    background: $fill;
    color: rgba($stroke, .8);
  }

  &:active {
    background: lighten($fill, 10%);
  }

  &:disabled {
    opacity: .5;
  }
}

html {
  &.no-csstransitions button.toggle-about { display: none; }
  &.no-history button.fiddle { display: none; }
}
